<ion-header>
  <ion-toolbar>
    <ion-title>modifinfolist</ion-title>
    <ion-button slot="end" (click)="valider()">Valider</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Login : </ion-label>
    <ion-input type="text" name="title" value="{{login}}" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ancien mot de passe : </ion-label>
    <ion-input type="password" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nouveau mot de passe : </ion-label>
    <ion-input type="password" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Confirmation : </ion-label>
    <ion-input type="password" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nom : </ion-label>
    <ion-input type="text" name="title" value="{{nom}}"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prénom : </ion-label>
    <ion-input type="text" name="title" value="{{prenom}}"></ion-input>
  </ion-item>
</ion-content>
