.envois {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
}
#chatInput {
    // border: 1px solid purple !important;
    padding-left: 10px;
    // width: 90%;
}
#buttonEnvois {
    width: 50px;
}
ng-template {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 2% auto 0 auto;
    font-family: 'Arial';
}
.chat {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: 2% auto 0 auto;
    // margin: auto;
    font-family: 'Arial';
    // font-weight: bold;
}
.chat .user {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 1.2em;
    
}
.chat .msg {
    margin-bottom: 10px; 
    // display: flex;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    
}

.chat .other {
    // position: relative;
    // left: 10px;
    // border: 1px solid red;
    align-self: flex-start;
    max-width: 95%;
    border-radius: 7px 7px 7px 0px;
    padding: 5px 10px 5px 10px;
    background-color: lightgrey;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.chat .own {
    // position: relative;
    // right: 10px;
    align-self: flex-end;
    // border: 1px solid blue;
    max-width: 95%;
    border-radius: 7px 7px 0px 7px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background-color: #21bf73;
    // color: white;
}

.chat .msg .hour {
    font-size: 0.5em;
    margin-top: 5px;
    // color: grey;
    // font-style: italic;
}