<div *ngIf="condition == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-back-button></ion-back-button>
			</ion-buttons>
			<ion-title>Événement</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-card>
			<ion-card-header>
				<ion-card-subtitle>{{data["idEvent"]}}</ion-card-subtitle>
				<ion-card-title>{{data["nomEvenement"]}}</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				{{data['description']}}
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-item class="ion-activated">
				<ion-icon name="calendar" slot="start"></ion-icon>
				<ion-label>Date début :</ion-label>
				<ion-label>{{data['dateDebut']}}</ion-label>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="time" slot="start"></ion-icon>
				<ion-label>Heure début :</ion-label>
				<ion-label>{{data['heureDebut']}}</ion-label>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="calendar" slot="start"></ion-icon>
				<ion-label>Date fin :</ion-label>
				<ion-label>{{data['dateFin']}}</ion-label>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="time" slot="start"></ion-icon>
				<ion-label>Heure fin :</ion-label>
				<ion-label>{{data['heureFin']}}</ion-label>
			</ion-item>
		</ion-card>
		<ion-item>
			<ion-button (click)="modifier()">Modifier</ion-button>
			<ion-button (click)="ajouter()">Ajouter dépense</ion-button>
		</ion-item>
		<ion-list>
			<ion-item>
				<div class='depenses'>
					<div class='ligne'>
						<div class='titre'>
							<p>Walmart</p>
						</div>
						<div class="prix">
							<p>30,00 $CA</p>
						</div>
					</div>
					<div class='ligne'>
						<div class="payeur">
							<p>Payé par <span>Baptiste</span></p>
						</div>
						<div class="date">
							<p>28/03/2020</p>
						</div>
					</div>
				</div>
			</ion-item>
			<ion-item>
				<div class='depenses'>
					<div class='ligne'>
						<div class='titre'>
							<p>Walmart</p>
						</div>
						<div class="prix">
							<p>30,00 $CA</p>
						</div>
					</div>
					<div class='ligne'>
						<div class="payeur">
							<p>Payé par <span>Baptiste</span></p>
						</div>
						<div class="date">
							<p>28/03/2020</p>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ng-template>

<ng-template #elseBlock>
	<ion-header>
		<ion-toolbar>
			<ion-title>Modification</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-card>
			<ion-card-header>
				<ion-card-subtitle>Modification</ion-card-subtitle>
				<ion-card-title>
					<ion-input value="{{data['nomEvenement']}}"></ion-input>
				</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<ion-input value="{{data['description']}}"></ion-input>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-item class="ion-activated">
				<ion-icon name="calendar" slot="start"></ion-icon>
				<ion-label>Date début :</ion-label>
				<ion-datetime value="{{data['dateDebut']}}" name="DD"></ion-datetime>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="time" slot="start"></ion-icon>
				<ion-label>Heure début :</ion-label>
				<ion-datetime display-format="HH:mm" picker-format="HH:mm" value="{{data['heureDebut']}}" name="HD">
				</ion-datetime>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="calendar" slot="start"></ion-icon>
				<ion-label>Date fin :</ion-label>
				<ion-datetime value="{{data['dateFin']}}" name="DF"></ion-datetime>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="time" slot="start"></ion-icon>
				<ion-label>Heure fin :</ion-label>
				<ion-datetime display-format="HH:mm" picker-format="HH:mm" value="{{data['heureFin']}}" name="HF">
				</ion-datetime>
			</ion-item>
		</ion-card>
		<ion-item>
			<ion-button (click)="valider()">Valider</ion-button>
			<ion-button color="danger" (click)="cancel()">Cancel</ion-button>
		</ion-item>
	</ion-content>
</ng-template>