<div *ngIf="condition == 0; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
	<!-- <ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<ion-back-button></ion-back-button>
			</ion-buttons>
			<ion-title>Événement</ion-title>
		</ion-toolbar>
	</ion-header> -->


	<ion-content>
		<div class='event'>
			<div id="backbutton" (click)="back()"><i class="fas fa-arrow-left"></i></div>
			<div class='header' [ngStyle]="{'background-color' : data.couleurThemeRgba }">

				<div class='container'>
					<div class='name'>{{data["nomEvenement"]}}</div>
					<div class='date'>{{data['dateDebut']}} {{data['heureDebut']}} | {{data['dateFin']}}
						{{data['heureFin']}}</div>
				</div>
			</div>
			<div id='description' class='ligne'>
				{{data['description']}}
			</div>

			<div class='navExpenses'>
				<div>
					<div class='title'>MY TOTAL</div>
					<div class='amount'>{{personalAmount}}</div>
				</div>
				<div>
					<div class='title'>TOTAL</div>
					<div class='amount'>{{totalAmount}}</div>
				</div>
			</div>
			<div id="addExpense" (click)="ajouter()"><i class='fas fa-plus'></i></div>

		</div>

		<ion-list id="expenses">
			<div  *ngFor="let i of transactions">
				<ion-item-sliding > 
					<ion-item>
						<div class='depenses'>
							<div class='ligne'>
								<div class='titre'>
									<p>{{i.description}}</p>
								</div>
								<div class="prix">
									<p>{{i.montant}} {{i.currency}}</p>
								</div>
							</div>
							<div class='ligne'>
								<div class="payeur">
									<p>Payé par <span>{{i.login}}</span></p>
								</div>
								<div class="date">
									<p>{{i.datetransaction}}</p>
								</div>
							</div>
						</div>
						<ion-item-options side="start">
							<ion-item-option (click)="delete(i)" color="danger" expandable>
								<ion-icon slot="icon-only" name="trash"></ion-icon>
							</ion-item-option>
						</ion-item-options>
					</ion-item>
				</ion-item-sliding>
			</div>
		</ion-list>
		<ion-list id="logs" >
			
			<div *ngFor="let i of logs" class="{i.etat}"><strong>[ {{i.etat}} ] </strong> {{i.login}} <strong>CA${{i.montant}}</strong> :
				<strong>{{i.description}}</strong></div>
			
		</ion-list>
		<div class='bottom-nav'>
			<div class='option' (click)="modifier()">
				<div class='icon'><i class='far fa-file'></i></div>
				<div class='text'>Edit</div>
			</div>
			<div class='option' (click)="presentAlertMultipleButtons()">
				<div class='icon'><i class='far fa-trash-alt'></i></div>
				<div class='text'>Delete</div>
			</div>
		</div>
	</ion-content>
</ng-template>

<ng-template #elseBlock>
	<ion-header>
		<ion-toolbar>
			<ion-title>Modification</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-card>
			<ion-card-header>
				<ion-card-subtitle>Modification</ion-card-subtitle>
				<ion-card-title>
					<ion-input value="{{data['nomEvenement']}}"></ion-input>
				</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				<ion-input value="{{data['description']}}"></ion-input>
			</ion-card-content>
		</ion-card>
		<ion-card>
			<ion-item class="ion-activated">
				<ion-icon name="calendar" slot="start"></ion-icon>
				<ion-label>Date début :</ion-label>
				<ion-datetime value="{{data['dateDebut']}}" name="DD"></ion-datetime>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="time" slot="start"></ion-icon>
				<ion-label>Heure début :</ion-label>
				<ion-datetime display-format="HH:mm" picker-format="HH:mm" value="{{data['heureDebut']}}" name="HD">
				</ion-datetime>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="calendar" slot="start"></ion-icon>
				<ion-label>Date fin :</ion-label>
				<ion-datetime value="{{data['dateFin']}}" name="DF"></ion-datetime>
			</ion-item>

			<ion-item class="ion-activated">
				<ion-icon name="time" slot="start"></ion-icon>
				<ion-label>Heure fin :</ion-label>
				<ion-datetime display-format="HH:mm" picker-format="HH:mm" value="{{data['heureFin']}}" name="HF">
				</ion-datetime>
			</ion-item>
		</ion-card>
		<ion-item>
			<ion-button (click)="valider()">Valider</ion-button>
			<ion-button color="danger" (click)="cancel()">Cancel</ion-button>
		</ion-item>
	</ion-content>
</ng-template>