<ion-header>
  <ion-toolbar>
    <ion-title>{{date}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nom :</ion-label>
    <ion-input placeholder="Nom de votre événement"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description :</ion-label>
    <ion-input placeholder="Description de votre événement"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date début : </ion-label>
    <ion-datetime value='{{date}}'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Heure début : </ion-label>
    <ion-datetime display-format='HH:mm' value='00:00'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Date Fin : </ion-label>
    <ion-datetime value='{{date}}'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Heure Fin : </ion-label>
    <ion-datetime display-format='HH:mm' value='00:00'></ion-datetime>
  </ion-item>
  <ion-button color="primary" (click)='valider()'>Valider</ion-button>
</ion-content>
