<ion-header>
  <ion-toolbar>
    <ion-title>New event {{date}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Name :</ion-label>
    <ion-input placeholder="Name of the event" [(ngModel)]="nomEvt"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description :</ion-label>
    <ion-input placeholder="Description of your event" [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Start date : </ion-label>
    <ion-datetime value='{{date}}'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Start hour : </ion-label>
    <ion-datetime display-format='HH:mm' value='00:00'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End date : </ion-label>
    <ion-datetime value='{{date}}'></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End hour : </ion-label>
    <ion-datetime display-format='HH:mm' value='00:00'></ion-datetime>
  </ion-item>
  <ion-button color="primary" (click)='valider()'>ADD</ion-button>
</ion-content>
