<ion-header>
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- (change)="presentAlertPrompt($event)" ion-long-press [interval]="400" (onPressStart)="" (onPressing)="presentAlertPrompt()" (onPressEnd)=""
  -->

<ion-calendar [(ngModel)]="dateRange"
  [options]="optionsRange"
  (change)="presentAlertPrompt($event)"
  [type]="date"
  [format]="'YYYY-MM-DD'">
</ion-calendar>
<div class='mainEvenements'>
  <div class='evenement'>
    <div class='titre'><ion-icon name="arrow-dropright-circle"></ion-icon>Nom de l'évenement</div>
    <div class='containerDebut_Fin'>
      <div><p><i class='fas fa-hourglass-start'></i> 22:45</p></div>
      <div><p><i class='far'>&#xf273;</i> 22/12/2020</p></div>
      <div><p><i class='fas fa-hourglass-end'></i> 23h45</p></div>
    </div>
  </div>
</div>




</ion-content>