
.mainEvenements {
    // border: 1px solid red;
    position: relative;
    display: block;   
    font-family: 'Roboto';
    margin-bottom: 1em;
}
.evenement {
    // border-left: 5px solid rgb(168,6,6);
    height: 4em;
    width: 97%;
    border-radius: 10px;
    // border: 1px solid red;
    // background-color: red;
    // opacity: 0.2;
    // background-color: rgba(168, 6, 6, 0.2);
    margin: 0.7em auto 0 auto;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // display: block;
    // position: relative;
}
.evenement .titre {
    // border: 1px solid black;
    width: 100%;
    // display: block;
    // position: absolute;
    padding-top: 5px;
    font-size: 1.2em;
    padding-left: 10px;
    // margin-top: 3px;
    // font-weight: bold;
}
.titre ion-icon {
    // border: 1px solid red;
    top: 0.5px;
    font-size: 0.9em;
    position: relative;
    margin-right: 5px;
}
.containerDebut_Fin {
    // border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    position: relative;
}
.containerDebut_Fin div {
    // border: 1px solid purple;
    width: calc(100%/3);
    // text-align: center;
    // font-style: italic;
    font-size: 0.9em;
    // font-weight: bold;
    color: grey;
    // height: 20px;
}
.containerDebut_Fin div p {
    // border: 1px solid red;
    // margin: 0;
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.containerDebut_Fin div p ion-icon {
    // border: 1px solid red;
    margin-right: 2px;
    top: 1px;
    position: relative;
}
ion-fab-button {
    // border: 1px solid red;
    position: absolute;
    // float: right;
    bottom: 80px;
    left: 50%;
    // right: 10px;
    z-index: 140;
    transform: translateX(-50%);

}
.my-cal {
	color: green;
	p {
		color: green !important;
        background-color: green;
	}
		
    }
